:root {
  --black: #333333;
  --white: #F6F6F6;
  --purple: #9C51B6;
  --font-family: 'Teko', sans-serif;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(45deg, #667eea, #debeff);
  font-family: var(--font-family);
  color: var(--black);
}

section {
  text-align: center;
  width: 100%;
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 2px solid var(--white);
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.5s ease-in-out;
}

#login img,
#register img {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.social-login {
  display: flex;
  justify-content: center;
  margin: 5px;
}

.social-login a {
  display: flex;
  align-items: center;
  margin: 0 10px;
  padding: 10px;
  border: 2px solid var(--white);
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  color: var(--black);
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
  text-decoration: none;
}

.social-login a:hover {
  transform: scale(1.05);
}

.social-login a img {
  width: 15px;
  height: 15px;
  margin-right: 8px;
  object-fit: cover;
}

form,
.social-login {
  text-align: left;
}
span {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  margin-bottom: 15px;
  color: var(--black);
  font-weight: var(--font-weight-light);
}

#remember-me input {
  margin-right: 8px;
}

#r_text {
  font-weight: bold;
}

input {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 10px;
  border: 2px solid var(--white);
  font-weight: var(--font-weight-regular);
}

input[type="submit"]:hover, input[type="submit"]:active {
  transform: scale(0.95);
  transition: transform 0.1s ease-in-out;
  background-color: var(--purple);
  color: var(--white);
}

label {
  display: block;
  font-weight: var(--font-weight-bold);
}

#register,
#login {
  max-width: 400px;
  margin: 0 auto;
}

.or,
.link-to-login {
  text-align: center;
  margin-bottom: 15px;
  color: var(--black);
  font-weight: var(--font-weight-light);
}

.link-to-login a {
  color: inherit;
  text-decoration: underline;
}

.img {
  width: 75px;
  height: 75px;
  object-fit: cover;
  margin-bottom: 20px;
}

a {
  font-weight: 700;
  text-decoration: none;
  color: var(--black);
}

a:hover, a:active {
  color: var(--purple);
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}
